body {
   text-align: center;
   background-color:azure;
}

#welcome {
    position: relative;
    background: linear-gradient(#d3eb34 0%, #7deb34 100%);
    opacity: 0.9;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: table;
    width: 100%;
    height: 100%;
    height: 200px;
}

.line {
    width: 70px;
    background-color: black;
    height: 7px;
    margin: auto;
}

#intro {
    font-size: 20px;
    max-width: 1000px;
    text-align: center;
    margin: auto;
}

.pic {
    border-radius: 50%;
    height: 250px;
    width: 250px;
}
